{{page-title "About"}}
<Nav></Nav>
<Main>
    <h2 class="heading">About Drive-Ins</h2>
    <p class="para">The best place for the best people. You can stay as long as u like.</p>
    <ul class="ulist">
        <li class="list">
            <LinkTo @route="contact">
                <button class="btn btn-primary" type="button">Contact Us</button>    
            </LinkTo>
        </li>
    </ul>
</Main>
{{outlet  }}
