{{page-title "Contact"}}
<Nav>
</Nav>
<Main>
    <h2 class="heading">Contact</h2>
    <p class="para">You can get in touch with us via</p>
    <ul class="ulist">
        <li class="list">
            <LinkTo @route="about">
                <button class="btn btn-primary" type="button">About</button>    
            </LinkTo>
        </li>
        <li class="list"><a href="https://www.github.com">GitHub</a></li>
        <li class="list"><a href="https://www.linkedin.com">LinkedIn</a></li>
        <li class="list"><a href="https://www.instagram.com">Instagram</a></li>
    </ul>
   
</Main>